<html>
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="static/css/reveal.css">
        <link rel="stylesheet" href="static/css/theme/league.css">
        <link rel="stylesheet" href="static/css/theme/zenburn.css">
        <link rel="stylesheet" href="static/css/font-awesome.min.css">
        <link rel="stylesheet" href="static/css/custom.css">
    </head>
    <body>
        <div class="reveal">
            <div class="slides">
                <section>
                    <h2>Introduction to Test-Driven Development</h2>
                    <p><strong>PyCon.de 2016</strong><p>
                    <p><em>Michael Seifert</em><p>
                </section>
                
                <section>
                    <h2>The Bad</h2>
                    <ul>
                        <li class="fragment">TDD takes around 15% more time (George, Williams 2003; Bhat, Nagappan 2006)</li>
                    </ul>
                </section>
                
                <section>
                    <h2>The Good</h2>
                    <ul>
                        <li class="fragment">Produces additional documentation in form of test cases</li>
                        <li class="fragment">Automated tests aid in future maintenance and development</li>
                        <li class="fragment">Reduces defect rate compared to ad-hoc unit testing (Maximilien, Williams 2003)</li>
                        <li class="fragment">Increases quality of code (George, Williams 2003; Bhat, Nagappan 2006)</li>
                    </ul>
                </section>
                <section>
                    <h2>Introduction to py.test</h2>
                    <section>
                        <h3>Dealing with duplication in tests</h3>
                        <pre><code data-trim>
                            def test_ingredients_contain_tomatoes():
                                delivery_service = LocalService()
                                pizza = delivery_service.order(1)[0]
                                
                                assert 'tomatoes' in pizza.ingredients

                            
                            def test_ingredients_contain_cheese():
                                delivery_service = LocalService()
                                pizza = delivery_service.order(1)[0]

                                assert 'cheese' in pizza.ingredients
                        </code></pre>
                    </section>
                    <section>
                        <h3>Fixtures to the rescue</h3>
                        <pre><code data-trim>
                            @pytest.fixture
                            def pizza():
                                delivery_service = LocalService()
                                pizza = delivery_service.order(1)[0]
                                return pizza

                            
                            def test_ingredients_contain_tomatoes(pizza):
                                assert 'tomatoes' in pizza.ingredients

                            
                            def test_ingredients_contain_cheese(pizza):
                                assert 'cheese' in pizza.ingredients
                        </code></pre>
                    </section>
                </section>
                
                <section>
                    <h2>Hands on!</h2>
                </section>

                <section>
                    <h2>Setting up the environment</h2>
                    <pre><code data-trim>
                        mkdir pymunich16
                        cd pymunich16
                        pyvenv venv
                        . venv/bin/activate
                        pip install pytest
                    </code></pre>
                </section>
                {% for example in examples %}
                    {% include 'example.html' %}
                {% endfor %}
                <section>
                <h2>Change machine</h2>
                    <section>
                        <h3>Description</h3>
                        <p>You are asked to develop a change machine that changes bank notes and coins. When a customer wants to change money, he feeds a specified amount of money into the machine and presses a confirmation button. The machine then returns the minimum number of bank notes and coins that matches the input value.</p>
                    </section>
                    <section>
                        <h3>Example</h3>
                        <p>A customer feeds one 10 ¤ note, five 2 ¤ coins, and three 1 ¤ coins into the machine.
                        The machine returns one 20 ¤ note, one 2 ¤ coin, and one 1 ¤ coin.</p>
                    </section>
                    <section>
                        <h3>Code away…</h3>
                    </section>
                    <section>
                        <h3>Whoops! Requirements changed.</h3>
                        <p>Your client decided that it should be possible to input multiple currencies. This means that a customer can feed the machine with mixed currency, e.g. one 10 € note and a 20 $ note. Assume that the output currency stays the same and that the exchange rate between currencies is fixed.</p>
                    </section>
                </section>
                <section>
                    <h2>Limitations</h2>
                    <ul>
                        <li class="fragment">Does not produce larger tests</li>
                        <li class="fragment">Tests do not necessarily cover all desirable cases</li>
                    </ul>
                </section>
                <section>
                    <h2>Beyond TDD</h2>
                    <p>Tests do not necessarily have to fail, if we implemented the solution to a required test "by accident".</p>
                </section>
                <section>
                    <h2>Improving our TDD skills</h2>
                    <p>Choosing the right granularity</p>
                    <p>Choosing the right order of tests</p>
                </section>
            </div>
        </div>
        <script src="static/js/head.min.js"></script>
        <script src="static/js/reveal.js"></script>
        <script src="static/js/clipboard.js"></script>
        <script>
            var code_blocks = document.querySelectorAll("pre code");
            
            for (code_block of code_blocks) {
                if (!code_block.hasAttribute("data-trim")) {
                    continue;
                }
                var content = code_block.innerHTML;
                var lines = content.split(/\r?\n/);
                var whitespace_count = lines[1].match("^\\s*")[0].length;
                var trimmed_lines = lines.map(function (element) {
                    return element.substring(whitespace_count);
                });
                code_block.innerHTML = trimmed_lines.join("\n");
            }
            
            var code_block_index = 0;
            for (code_block of code_blocks) {
                var listing_id = "listing" + code_block_index;
                code_block.id = listing_id;
                var button = document.createElement("button");
                button.classList.add("copyable");
                button.setAttribute("data-clipboard-target", "#" + listing_id); 
                button.setAttribute("alt", "Copy to clipboard"); 
                
                var clipboard_icon = document.createElement("i");
                clipboard_icon.classList.add("fa", "fa-clipboard");
                clipboard_icon.setAttribute("aria-hidden", "true");
                button.appendChild(clipboard_icon);

                var parent = code_block.parentNode;
                parent.appendChild(button);
                code_block_index++;
            }
            new Clipboard('.copyable');

            
            Reveal.initialize({
                dependencies: [
                    { src: 'static/js/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
                ]
            });
            Reveal.configure({ slideNumber: true });
        </script>
    </body>
</html>
